@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-50: #eef2ff;
  --primary-600: #4f46e5;
  --primary-700: #4338ca;
  --secondary-900: #1e293b;
}

body {
  font-family: var(--font-inter), system-ui, sans-serif;
}
